name: Build and Push Docker Images

on:
  push:
    branches: [main]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Downcase REPO variable
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push API image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/api
          push: true
          tags: |
            ghcr.io/${{ env.REPO }}/api:latest
            ghcr.io/${{ env.REPO }}/api:${{ github.sha }}
      
      - name: Build and push Frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/jasri-space
          push: true
          build-args: |
            VITE_API_URL=https://api.jasricozyspace.com
          tags: |
            ghcr.io/${{ env.REPO }}/frontend:latest
            ghcr.io/${{ env.REPO }}/frontend:${{ github.sha }}
